*{
    margin:0;
    padding:0;
}
html,body{
    font-size: 25px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
}
h1{
  font-size: 50px;
  text-decoration: underline;
}
label{
    margin-top: 27px;
}
.form{
    margin-left: 5px;
}
nav ul{
    display:flex;
   justify-content: space-around;
   background-color: rgba(118, 114, 114, 0.611);
    font-weight: 500;
    padding:5px 0px;
}
nav li{
    list-style: none;
}
.signUpForm {
    max-width: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 60px;
  }

  
  .signUpForm input {
    max-width: 300px;
    margin-top: 2px;
    padding: 10px 10px;
    font-size: 0.8rem;
  }
  .LoginForm {
    max-width: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 30px;
  }
  
  .LoginForm input {
    max-width: 300px;
    margin-top: 2px;
    padding: 10px 10px;
    font-size: 0.8rem;
  }
#dashboard{
  max-width: 450px;
    border: none;
    display: flex;
    flex-direction: column;
    gap:50px;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 35px;
  }

button{
    /* max-width: 120px; */
    border-radius: 30px;
    margin-left:80px;
    margin-right: 150px;
    font-size: 1rem;
    padding:10px;
    border: none;
    font-family: "Pacifico", cursive;
    background-color: rgba(118, 114, 114, 0.611) ;
}
button:hover{
    cursor:pointer;
    background-color: white;
    border: 3px solid rgba(118, 114, 114, 0.611);  
}
 #dashboard button {
  width: 100px; 
  
} 